/*
div {
  border: 1px solid black;
}
*/
body , button{
  background: white;
  text-align: center;
  text-decoration: none;
  font-family: "Arial";
  font-size: large;
  color: darkblue;
}

button {
  border: 2px solid;
  border-radius: 125px;
  width: 248px;
  height: 248px;
  background-color: #FFCC00;
  margin: 30px;
  font-size: x-large;
  font-weight: bold;
}

/* Make the color change button orange */
#colorChange {
  background: #FF6600;
}

ul {
  list-style-type: none;
  margin-top: 15px;
}

li {
  margin: 8px;
}

p {
  text-align: justify;
}  
 
.header{
  padding-top: 10px;
  padding-bottom: 10px;
  background:darkblue;
  color: white;
}
 
 /* Trick to making it work; allow wrapper to overflow so divs fit inside! */
 /* Prevents other divs from landing on top */
.Wrapper {
  overflow: auto;
}

.Left, .Right{
  float: left;
  width: 49%; /* not 50% so that can put border on divs for debugging */
  padding-top: 25px;
}
 
.Left p{
  padding-left: 10%;
  padding-right: 5%;
}

.Right p{
  padding-right: 10%;
  padding-left: 5%;
}

#dolphinPic {
  padding-top: 20px;
  padding-bottom: 12px;
}

/* Don't display interest list until clicked */
.AidenList, .BenList {
  display: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: darkblue;
}

a:hover {
  text-decoration: none;
  color: #FF0000;
}

.showhide {
  margin-bottom: 0px;
}

h6 {
  margin: 0px;
}

.youtubeVid {
  margin-top: 30px;
}

.footer p {
  font-size: small;
  text-align: center;
}

/* Border around home page */
#top, #bottom, #left, #right {
	background: darkblue;
	position: fixed;
}  
  
#left, #right {
	top: 0; bottom: 0;
	width: 10px;
} 
   
#left { left: 0; }
#right { right: 0; }		

#top, #bottom {
  left: 0; right: 0;
  height: 10px;
}

#top { top: 0; }
#bottom { bottom: 0; }



  